@import "fonts.css";

body {
  margin: 0;
}

main {
  padding: 1rem;
  max-width: 70ch;
}

header {
  display: flex;
  gap: 1rem;

  align-items: center;
}

header h1 {
  flex: 1;
}

header img {
  width: 100px;
  height: 80px;
}

marquee {
  margin-bottom: 1rem;
}

h1 {
  font-family: "Times 32", 'Times New Roman', serif;
  font-size: 2rem;
  font-weight: bold;

  text-shadow: 2px 2px black;
  border: 5px outset #800080;
  background-color: #800080;
  color: #FFF;

  padding: 0.5rem;
}

p {
  font-family: "Times", 'Times New Roman', serif;
  font-size: 1rem;
  font-weight: bold;

  margin: 0;
}

table {
  border-top: 1px solid #c0c0c0;
  border-left: 1px solid #c0c0c0;
  border-bottom: 1px solid #808080;
  border-right: 1px solid #808080;

  background-color: cornsilk;
}

th,
td {
  padding: 0.5rem;
  border-top: 1px solid #808080;
  border-left: 1px solid #808080;
  border-bottom: 1px solid #c0c0c0;
  border-right: 1px solid #c0c0c0;
}